@page
@model lawrencelapid.Midterm_.Pages.Manage.Authors.Index


<h3>Authors</h3>

<div class="search">
    <i class="bi bi-search"></i>
    <input type="text" class="form-control" placeholder="Search" id="search">
</div>

<div class="row">
    <div class="col-3">
        <div class="form-group">
            <label for="">Sort By</label>
            <select class="form-control" id="sortBy" asp-for="View.Roles.SortBy">
                <option value="">choose</option>
                <option value="name">Name</option>
                <option value="description">Description</option>
                <option value="abbreviation">Abbreviation</option>
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="">Sort Order</label>
            <select class="form-control" id="sortOrder" asp-for="View.Roles.SortOrder">
                <option value="1">Ascending</option>
                <option value="2">Descending</option>
            </select>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-2">
        <a href="~/manage/roles/create" class="btn btn-primary">Create New</a>
    </div>
</div>